{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "browser": true
    },
    "extends": [
        "eslint:recommend"     
    ],
    "rules" : {
        "prefer-const":"warn",
        "camelcase": "warn",
        "qoutes":[1,"single"],
        "spaced-comment": "warn",
        "semi":"error",
        "space-infix-ops":"warn"      
    }
    
}

